<!DOCTYPE HTML>
<html>
<!-- 페이지 로딩속도를 높이기 위해 CSS는 header에 js는 footer에 삽입.
     cause : HTML은 위에서부터 코드가 실행되므로 head 우선 전체 실행 후 body가 실행됨.(화면우선그려지기위해) -->
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>